@import "tailwindcss";
.bg
{
    background-image: url("./Rectangle\ 4.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg2{
    background-image: url("./Rectangle\ 4\ \(1\).png");
      background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}